Last Update: Jan 30, 2024

In [13]:
import pandas as pd
import tldextract

In [14]:
# update the filename
excel_file = "Company Domain - Third Batch" 

df = pd.read_csv(excel_file + ".csv")
df

                  Company Domain
0        www.infirmaryhealth.org
1          www.palomarhealth.org
2                www.harvard.edu
3         www.gibsonhospital.org
4   www.inspirahealthnetwork.org
..                           ...
59         www.reyescocacola.com
60               www.godaddy.com
61         www.northcarolina.edu
62                  www.rush.edu
63                   www.ugi.com

[64 rows x 1 columns]

In [15]:
df["Subdomain"] = df["Company Domain"].apply(lambda x : tldextract.extract(x).subdomain)
df["Domain"] = df["Company Domain"].apply(lambda x : tldextract.extract(x).domain)
df["Suffix"] = df["Company Domain"].apply(lambda x : tldextract.extract(x).suffix)
df

                  Company Domain Subdomain                Domain Suffix
0        www.infirmaryhealth.org       www       infirmaryhealth    org
1          www.palomarhealth.org       www         palomarhealth    org
2                www.harvard.edu       www               harvard    edu
3         www.gibsonhospital.org       www        gibsonhospital    org
4   www.inspirahealthnetwork.org       www  inspirahealthnetwork    org
..                           ...       ...                   ...    ...
59         www.reyescocacola.com       www         reyescocacola    com
60               www.godaddy.com       www               godaddy    com
61         www.northcarolina.edu       www         northcarolina    edu
62                  www.rush.edu       www                  rush    edu
63                   www.ugi.com       www                   ugi    com

[64 rows x 4 columns]

In [16]:
# update the filename
new_File = excel_file + "-Output"

writer = pd.ExcelWriter(new_File + ".xlsx")
df.to_excel(writer, index = None)
writer.close()